<app-navbar></app-navbar>

<div class=" row justify-content-center my-auto mx-md-5 px-md-8 ">
    <img src="//upload.wikimedia.org/wikipedia/fr/thumb/1/14/Universit%C3%A9_d%27Avignon_%28logo_2018%29.svg/langfr-150px-Universit%C3%A9_d%27Avignon_%28logo_2018%29.svg.png"
        alt="no image" />
</div>

<div class="row justify-content-center my-3 px-3">
    <div class="btn-group">
        <button class="btn btn-info" (click)="onPlayerHistoryClick()">Historique</button>
        <button class="btn btn-info" (click)="onOverallRankingClick()">Top 10 génerale</button>
        <button class="btn btn-info" (click)="onSingleRoundRankingClick()">Top 10 meilleur score</button>
        <button class="btn btn-info" (click)="onLogoutClick()">Se déconnecter</button>

    </div>
</div>