<div class="container-fluid">
    <ul class="nav navbar-nav">
        <li><a id="len1" class="hoverable" (click)="onHomeClick()">Accueil</a></li>
        <li><a id="len2" class="hoverable" (click)="onNewGameClick()">Nouvelle Partie</a></li>
        <li><a id="len3" class="hoverable" (click)="onProfileClick()">Profil</a></li>
    </ul>
</div>

<script>
    $(function () {
        var str = '#len'; //increment by 1 up to 1-nelemnts
        $(document).ready(function () {
            var i, stop;
            i = 1;
            stop = 4; //num elements
            setInterval(function () {
                if (i > stop) {
                    return;
                }
                $('#len' + (i++)).toggleClass('bounce');
            }, 500)
        });
    });
</script>