.btn-block {
    border-radius: 50px;
    color: #fff;
    padding: 15px;
    cursor: pointer;
    border: none ;
    margin-top: 40px;
    font-weight: 600;
    font-size: 1rem;
    font-family: 'IBM Plex Sans', sans-serif;

}